/* https://yaomon.itch.io/playing-cards card face artist 
https://cazwolf.itch.io/pixel-fantasy-cards card back artist */


.html   { height: 100%; width: 100%; margin: 0; }
.body   { height: 100%; width: 100%; margin: 0; }

.game-screen{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;

    overflow: hidden;
    background: linear-gradient(to top,#000000,90%,#8b0000)
    
}

.historyContainer{
    position: absolute;
    width: 20%;
    height: 70%;
    left: 70%;
    bottom: 25%;
    background-color:darkred;
    border-radius: 40px;
    text-align: center;
}

.card{
    position: absolute;
    width: 220px;
    height: 320px;
    left: 43%;
    top: 25%;
    box-shadow: 10px 10px;
    perspective: 1000px;
    /*Rounded corner card*/
    border-radius: 3%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.button{
    padding: 40px 60px;
    outline: none;
    border: none;
    cursor:pointer;
    border-right: 1px solid;
    font-size: large;
}

.button:last-child{
    border-right: none;
}

.btn-group{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.btn-group button{
    position:relative;
    display: inline-flex;
    margin-top: auto;
    margin: 3px;
    border: none;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
  }

.btn-group-4{
    left:35%;
    
}
.btn-group-5{
    left: 32%;
    right: 0%;
}

.btn-group button:hover {
    background-color: red;
  }

  .drawCard{
    visibility: hidden;
    padding: 20px 30px;
    outline: none;
    border: none;
    cursor:pointer;
    border-right: 1px solid;
    font-size: large;
    left: 44%;
    top: 65%;
    position: absolute;
    
}
  
.back-card{
    content: url(./resources/card-back.png);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

.front-card{
    content: url(./resources/Clubs/Ace.png);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform:rotateY(180deg);
}

.deck{
    position: absolute;
    top: 25%;
    left: 10%;
    content: url(resources/deck.png);
    width: 220px;
    height: 320px;
    border-radius: 3%;
    box-shadow: 10px 10px;

}

.deck:hover + .cardsLeft{
    position: absolute;
    display: block;
    color: white;
}
.drawAnimation{
    animation: draw_ani 1s ease-out;
}
.tutorialButton{
    position: relative;
    padding: 10px 60px;
    top: 65%;
    left: 10%;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 28px;
    font-weight: 500;
    border-radius: 30px;
    z-index: 101;
}


.tutorialButton:hover{
    background-color: red ;
}

.cardsLeft{
    top: 18%;
    left: 10%;
    position: absolute;
    font-size: 30px;
    display: none;
}

.popup{
    width: 400px;
    height: 600px;
    background:white;
    border-radius: 6px;
    position:absolute;
    text-align:left;
    padding: 0 30px 30px;
    top: 0;
    left: 10%;
    z-index: 200;
    transform: scale(0.1);
    visibility: hidden;
    
}
.openPopup{
    visibility: visible;
    top: 25%;
    transform: scale(1);
    transition: transform 0.6s, top 0.6s ease-out;
}

.popup h2{
    position: absolute;
    font-size: 38px;
    font-weight: 1000;
    left: 27%;
    top: -30px;
    font-family: sans-serif ;

}
.popup p{
    
    position: relative;
    margin: 10px;
    top: 8%;
    font-size: 22px;
}
.popup button{
    width: 50%;
    position: absolute;
    margin-top: 100px;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 300;
    right: 25%;
    
}
@keyframes draw_ani {
    0%{left:10%;}
    100%{left: 43%;}
}


