/* https://yaomon.itch.io/playing-cards card face artist 
https://cazwolf.itch.io/pixel-fantasy-cards card back artist */


.html   { height: 100%; width: 100%; margin: 0; }
.body   { height: 100%; width: 100%; margin: 0; }

.game-screen{
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;

    overflow: hidden;
    background: linear-gradient(to top,#000000,90%,#808080)
    
}

.card{
    background: green;
    position: absolute;
    width: 220px;
    height: 320px;
    left: 43%;
    top: 25%;
    box-shadow: 10px 10px;
    perspective: 1000px;
    /*Rounded corner card*/
    border-radius: 3%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.button1{
    padding: 40px 60px;
    outline: none;
    border: none;
    cursor:pointer;
    border-right: 1px solid;
    font-size: large;
}
.button2{
    visibility: hidden;
    padding: 40px 60px;
    outline: none;
    border: none;
    cursor:pointer;
    border-right: 1px solid;
    font-size: large;
}

.button:last-child{
    border-right: none;
}
.btn-group button {
    position:relative;
    display: inline-flex;
    left: 39%;
    margin-top: auto;
    border: 1px solid #cccccc;
    border-radius: 10px;
    overflow: hidden;
  }

  .btn-group button:hover {
    background-color: green;
  }

  .drawCard{
    visibility: hidden;
    padding: 20px 30px;
    outline: none;
    border: none;
    cursor:pointer;
    border-right: 1px solid;
    font-size: large;
    left: 44%;
    top: 65%;
    position: absolute;
    
}
  
.back-card{
    content: url(./resources/card-back.png);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

.front-card{
    content: url(./resources/Clubs/Ace.png);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform:rotateY(180deg);

}



.deck{
    position: absolute;
    top: 25%;
    left: 10%;
    content: url(resources/deck.png);
    width: 220px;
    height: 320px;
    border-radius: 3%;
    box-shadow: 10px 10px;

}

.deck:hover + .cardsLeft{
    position: absolute;
    display: block;
    color: white;
}
.drawAnimation{
    animation: draw_ani 1s ease-out;
}
.cardsLeft{
    top: 18%;
    left: 10%;
    position: absolute;
    font-size: 30px;
    display: none;
}

@keyframes draw_ani {
    0%{left:10%;}
    100%{left: 43%;}
}


